 
/* Conteúdo principal */
.content { 
  padding: 16px;
  height: 100%;
  width: 80%;
  overflow-y: scroll; 
}

.badge {
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 0.8rem;
  margin-left: 8px;
}
 